body {
    font-family: Arial, sans-serif;
    text-align: center;
    background:#111;
    color:white;
}

.titre {
    font-size: 40px;
    margin-bottom: 20px;
}

#grille {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.case {
    width: 60px;
    height: 60px;
    background:#222;
    border:2px solid #444;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    font-weight:bold;
    text-transform:uppercase;
}

.vert  { background:#2ecc71; }
.jaune { background:#f1c40f; color:black; }
.gris  { background:#444; }

.controls {
    margin-top: 15px;
}

input {
    padding:10px;
    font-size:16px;
    width:200px;
    text-transform:uppercase;
}
button {
    padding:10px 15px;
    font-size:16px;
    cursor:pointer;
}
#message {
    margin-top:20px;
    font-size:18px;
}

